* {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

header {
  text-align: center;
}

.project {
  display: flex;
  border: 2px solid black;
  padding: 2em;
  text-align: center;
}

.project-name {
  background: black;
  opacity: 70%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  margin: auto;
  padding: 1em;
  color: white;
  margin-bottom: 0;
}

.project-name:hover {
  background: white;
  opacity: 70%;
  color: black;
}

a {
  margin: 1em;
  padding: 1em;
}
